.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(24, 28, 39, 0.25);
}

.modal__sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 530px;
  height: 100%;
  background-color: #fff;
  padding-top: 120px;
}

.modal__buttonWrapper {
  padding: 40px 0;
}

.modal__buttonReady,
.modal__buttonCanceling {
  display: block;
  margin: 0 auto;
  width: 154px;
  height: 44px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal__buttonReady {
  color: #fff;
  background: #ff6b08;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  margin-bottom: 20px;
  transition: all 250ms linear;
}

.modal__buttonCanceling {
  color: rgba(24, 28, 39, 0.6);
  background: #ffffff;
  text-decoration-line: underline;
  transition: all 250ms linear;
}

.modal__buttonReady:hover,
.modal__buttonReady:focus {
  color: #ff6b08;
  background: #ffffff;
}

.modal__buttonCanceling:hover,
.modal__buttonCanceling:focus {
  color: #000000;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.modal__buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17.89px;
  height: 17.46px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.modal__buttonClose:hover {
  transform: rotate(180deg);
}
