.container {
  display: flex;
  justify-content: space-between;
}

.sprint {
  /* padding: 20px 0 0 0; */
}

.sprint__main-wrapper {
  width: 970px;
  padding: 20px 0;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  /* border-right: 1px solid rgba(24, 28, 39, 0.1); */
  min-height: calc(100vh - 81px);
}

.sprint__main-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid rgba(24, 28, 39, 0.1);
  min-height: calc(100vh - 81px);
  top: 0;
  left: 0;
}

.sprint__main-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid rgba(24, 28, 39, 0.1);
  min-height: calc(100vh - 81px);
  top: 0;
  right: 0;
}

/* .sprint__main-wrapper::after {
	content: '';
	position: absolute;
	width: 76vw;
	height: 1px;
	background-color: rgba(24, 28, 39, 0.1);
	top: 204px;
	left: -70px;
	left: 0;
	overflow: hidden;
} */

.sprint__loader-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
