.container {
	display: flex;
	justify-content: space-between;
}

.sprint {
	/* padding: 20px 0 0 0; */
}

.sprint__main-wrapper {
	width: 970px;
	padding: 20px 30px 0 70px;
}

/* .sprint__main-wrapper::after {
	content: '';
	position: absolute;
	width: 76vw;
	height: 1px;
	background-color: rgba(24, 28, 39, 0.1);
	top: 204px;
	left: -70px;
	left: 0;
	overflow: hidden;
} */