@value color_1: #8c72df;
@value color_2: #ff765f;
@value color_3: #71df87;
@value color_4: #f78335;
@value color_5: #f3be2e;
@value color_6: #e46cde;
@value color_7: #4394f1;
@value color_8: #d45535;

@value primaryColor: #f09d51;
@value mainWhite: #fff;
@value mainBlack: #222;
@value mainGrey: #ececec;
@value mainSpacing: 0.1rem;
@value mainTransition: all 0.3s linear;

.wrapper {
  background-color: #f1f2f7;
  min-height: 100vh;
  /* width: 100vw; */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
