@value colorBlue: #4394f1;
@value colorPurple: #8c72df;
@value colorRed: #ff765f;
@value colorGreen: #71df87;

.project__sidebar-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 120px;
  height: 300px;
  margin: 70px 0;
  list-style: none;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.project__sidebar-item {
  text-align: left;
  width: 120px;
  height: 36px;
  position: relative;
}

.project__sidebar-item:not(:last-child) {
  margin-bottom: 30px;
}

.project__sidebar-link {
  width: 30px;
  height: 36px;
  padding-left: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.project__sidebar-link--active {
  font-weight: bold;
}

.project__sidebar-link:not(:last-child) {
  margin-bottom: 30px;
}

.project__sidebar-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
}

.project__sidebar-item:nth-child(4n + 1)::before {
  background-color: colorPurple;
}

.project__sidebar-item:nth-child(4n + 2)::before {
  background-color: colorRed;
}

.project__sidebar-item:nth-child(4n + 3)::before {
  background-color: colorGreen;
}

.project__sidebar-item:nth-child(4n + 4)::before {
  background-color: colorBlue;
}

.test {
  overflow-wrap: break-word;
}

/* @value colorBlue: #4394f1;
@value colorPurple: #8c72df;
@value colorRed: #ff765f;
@value colorGreen: #71df87; */
