@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

/* .zoomIn {
  animation-name: zoomIn;
} */

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

/* .zoomOut {
  animation-name: zoomOut;
} */

.enter {
    animation: zoomIn 400ms ease-in;
}

.enterActive {
    animation: zoomIn 400ms ease-in;
}

.exit {
    animation: zoomOut 400ms ease-in-out;
}

.exitActive {
    animation: zoomOut 400ms ease-in-out;
}