.sprint__sidebar-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 200px;
  height: 290px;
  margin: 0px 0 110px;
  list-style: none;
  padding-bottom: 5px;
}

.sprint__sidebar-item {
  text-align: left;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  hyphens: auto;
  overflow-wrap: break-word;
}

.sprint__sidebar-item:first-child {}

.sprint__sidebar-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 5, 97, 0.2);
  pointer-events: none;
}

.sprint__sidebar-item:not(:last-child) {
  margin-bottom: 30px;
}

.sprint__sidebar-link {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  padding: 0 0px 0 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-decoration: none;
  /* display: block; */
  min-height: 36px;
  align-items: center;

}

.span {
  width: 140px;
  overflow-wrap: break-word;
}

.sprint__sidebar-link--active {
  font-weight: bold;
}

.sprint__sidebar-link:not(:last-child) {
  margin-bottom: 30px;
}