.emptyList {
  text-align: center;
  color: rgba(24, 28, 39, 0.3);
  font-family: "Montserrat";
  margin-top: 100px;
  font-size: 24px;
}

.project__header {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: #181c27;
  display: inline-block;
  margin-right: 20px;
  word-wrap: break-word;
  max-width: 300px;
}

.projectWrapper {
  width: 970px;
  margin-left: 70px;
  height: calc(100vh - 80px);
}

.loader__tuning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_wrapper {
  display: flex;
}

.button__pencil {
  height: 20px;
}

.project__button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusBtnWrapper .project__button__wrapper:nth-child(1) {
  margin-right: 30px;
}

.plusBtnWrapper .project__button__wrapper:nth-child(2) {
  margin-right: 0;
}

.plusBtnWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}

.icon {
  display: inline-block;
}

.sprint_text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  display: inline-block;
}

.project__wrapper {
  margin-right: 80px;
}

.project__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__button__wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;

  position: relative;
  max-width: 400px;
}

.project__header__wrapper .project__button__wrapper {
  margin-top: 40px;
}

.button__plus {
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  border: none;
  background-position: top;
  background-repeat: no-repeat;
  margin-right: 20px;
  cursor: pointer;
  background-image: url("../../Icons/plus.svg");
  transition: 300ms;
}

.button__plus:hover,
.button__plus:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(255, 107, 8);
}

.button__pencil {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: none;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../../Icons/pencil.svg");
}

.button__pencil--active {
  width: 20px;
  position: absolute;
  height: 20px;
  border: none;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-image: url("../../Icons/pencil.svg");
}

.sprints_container {
  display: flex;
  flex-wrap: wrap;
}

.edit__button {
  display: block;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../Icons/pencil.svg");
  transition: all 200ms linear;
  width: 20px;
  height: 20px;
}

.input_change {
  width: 90%;
  position: absolute;
  left: 0;
  border: none;
  box-shadow: 2px 4px 8px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #181c27;
  padding: 6px 0 6px 5px;
  outline: none;
}

.input_change_block {
  display: flex;
  justify-content: space-between;
}