.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(24, 28, 39, 0.25);
  z-index: 1200;
}

.modal {
  position: relative;
  width: 930px;
  height: 460px;
  border-radius: 5px;
  background-color: #ffffff;
}

.closeGraphicBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  background-image: url("../BurndownChartModalWindow/iconsBCMW/closeWindowBtn.svg");
  cursor: pointer;
  margin: 0;
  z-index: 20;
}
