.sprints__task-spent {
    padding-left: 10px;
    width: 100%;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #181c27;
    outline: none;
}