@value colorPurple from '../App/App.module.css';
@value colorRed from '../App/App.module.css';
@value colorGreen from '../App/App.module.css';
@value colorBlue from '../App/App.module.css';

@media (min-width: 1170px){
  .item:not(:nth-child(4n)) {
    margin-right: 24px;
  }
  
  .item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1168px){
  .item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
  
  .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 868px){
  .item:not(:nth-child(2n)) {
    margin-right: 24px;
  }
  
  .item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

.item {
  position: relative;
  width: 270px;
  height: 270px;
  padding: 28px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms linear;
  overflow: hidden;
}


/* colors for tasks */

.item:nth-child(8n+1) {
  background-color: colorPurple;
}

.item:nth-child(8n-6) {
  background-color: colorRed;
}

.item:nth-child(8n-5) {
  background-color: colorGreen;
}

.item:nth-child(8n-4) {
  background-color: colorBlue;
}

.item:nth-child(8n-3) {
  background-color: rgb(203, 206, 47);
}

.item:nth-child(8n-2) {
  background-color: rgb(228, 108, 222);
}

.item:nth-child(8n-1) {
  background-color: rgb(247, 163, 53);
}

.item:nth-child(8n) {
  background-color: rgb(212, 85, 53);
}

/* ====== */

/* Shadows */

.item:nth-child(8n+1):hover {
  box-shadow: 4px 8px 10px colorPurple;
}

.item:nth-child(8n-6):hover {
  box-shadow: 4px 8px 10px colorRed;
}

.item:nth-child(8n-5):hover {
  box-shadow: 4px 8px 10px colorGreen;
}

.item:nth-child(8n-4):hover {
  box-shadow: 4px 8px 10px colorBlue;
}

.item:nth-child(8n-3):hover {
  box-shadow: 4px 8px 10px rgb(243, 207, 46);
}

.item:nth-child(8n-2):hover {
  box-shadow: 4px 8px 10px rgb(228, 108, 222);
}

.item:nth-child(8n-1):hover {
  box-shadow: 4px 8px 10px rgb(247, 163, 53);
}

.item:nth-child(8n):hover {
  box-shadow: 4px 8px 10px rgb(212, 85, 53);
}

/* ===== */

/* Waves */

.item:nth-child(4n+1)::before,
.item:nth-child(4n+1)::after,
.item:nth-child(4n-2)::before,
.item:nth-child(4n-2)::after,
.item:nth-child(4n-1)::before,
.item:nth-child(4n-1)::after,
.item:nth-child(4n)::before,
.item:nth-child(4n)::after{
  position: absolute;
  left: 0;
  top: 76px;
}

.item:nth-child(4n+1)::before {
  content: url("./projectImg/Wave_1-1.png"); 
}
.item:nth-child(4n+1)::after {
  content: url("./projectImg/Wave_1-2.png");  
}

.item:nth-child(4n-2)::before {
  content: url("./projectImg/Wave_2-1.png"); 
}
.item:nth-child(4n-2)::after {
  content: url("./projectImg/Wave_2-2.png"); 
}

.item:nth-child(4n-1)::before {
  content: url("./projectImg/Wave_3-1.png");
}
.item:nth-child(4n-1)::after {
  content: url("./projectImg/Wave_3-2.png"); 
}

.item:nth-child(4n)::before {
  content: url("./projectImg/Wave_4-1.png");
}
.item:nth-child(4n)::after {
  content: url("./projectImg/Wave_4-2.png"); 
}

/* ======= */

/* trashBtn */

.item:nth-child(8n+1) .itemTrashBtn {
  background-color: colorPurple;
}

.item:nth-child(8n-6) .itemTrashBtn {
  background-color: colorRed;
}

.item:nth-child(8n-5) .itemTrashBtn {
  background-color: colorGreen;
}

.item:nth-child(8n-4) .itemTrashBtn {
  background-color: colorBlue;
}

.item:nth-child(8n-3) .itemTrashBtn {
  background-color: rgb(243, 207, 46);
}

.item:nth-child(8n-2) .itemTrashBtn {
  background-color: rgb(228, 108, 222);
}

.item:nth-child(8n-1) .itemTrashBtn {
  background-color: rgb(247, 163, 53);
}

.item:nth-child(8n) .itemTrashBtn {
  background-color: rgb(212, 85, 53);
}

/* ========== */
.itemTitle {   
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #ffffff; 
}

.item:hover .itemDescription{
  opacity: 1;
}

.itemDescription {
  opacity: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: 250ms;
}

.itemTrashBtn {
  outline: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 34px;
  height: 34px;
  border: none;
  background: #ffffff;
  border-radius: 50%; 
  background-image: url("./projectImg/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -22px;
  cursor: pointer;
  z-index: 1;
  transition: 150ms linear;
}

.itemTrashBtn:hover,
.itemTrashBtn:focus {
  width: 32px;
  height: 32px; 
  box-shadow: 0px 0px 25px white;
}