.error {
  color: red;
  letter-spacing: 0.04em;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 12px;
  width: 200px;
  display: inline-block;
  position: absolute;
  bottom: 300px;
  left: 50px;
  line-height: 22px;
}

.sprint__window__header {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #181c27;
  margin-bottom: 80px;
}

.input_gather {
  display: flex;
  margin: 0 50px;
  align-items: baseline;
}
