.single__item {
  list-style: none;
  cursor: pointer;
  transition: all 250ms linear;
}

.single__item:hover {
  transform: scale(1.02);
}

.single__chart {
  width: 270px;
  min-height: 250px;
  background: #ffffff;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  font-family: "Montserrat";
  position: relative;
  padding: 20px 30px 40px;
}

.chart__header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}

.sprint__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.chart__content {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 17px;
}

.chart__content_header {
  text-align: left;
}

.chart__content_info {
  text-align: right;
}

.chart__content_header:not(:nth-last-child(-n + 3)),
.chart__content_info:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}

.chart__button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../Icons/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  transition: all 500ms linear;
}

.chart__button:hover {
  background-image: url("../../Icons/trashActive.svg");
  transform: rotate3d(0, 0, 1, 65deg);
}

@media (max-width: 1139px) {
  .single__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .single__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1140px) {
  .single__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .single__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
