.sprint-sidebar__wrapper {
  width: 200px;
  padding: 20px 0 0 0;
  position: relative;
}

/* .sprint-sidebar__wrapper::before {
  content: "";
  position: absolute;
  
  height: 100%;
  width: 1px;
  background-color: rgba(24, 28, 39, 0.1);
  top: 0;
  right: 0;
} */

.sprint-sidebar__wrapper-link {
  width: 170px;
  text-align: left;
  margin-bottom: 112px;
}

.sprint-sidebar__link {
  width: 120px;
  padding: 0 0px 0 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #181c27;
  text-decoration: none;
  position: relative;
  display: block;
  /* margin-bottom: 102px; */
}

.sprint-sidebar__link::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  background-image: url('./Arrow.svg');
  width: 30px;
  height: 8px;
  outline: none;
}

.sprint-sidebar__add-wrapper {
  width: 162px;
  height: 76px;
}

.sprint-sidebar__add-btn {
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  border: none;
  background-repeat: no-repeat;
  margin-bottom: 14px;
  cursor: pointer;
  background-image: url('../../Icons/plus.svg');
  outline: none;
  transition: all 300ms linear;
}

.sprint-sidebar__add-btn:hover,
.sprint-sidebar__add-btn:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(255, 107, 8);
}

.sprint-sidebar__add-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #181c27;
}
