.graphicBtn {
  position: fixed;
  bottom: 10%;
  right: 12%;
  display: block;
  width: 44px;
  height: 44px;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 50%;
  border: none;
  background-position: 50% 12%;
  background-image: url("./iconBCB/analyticsFull.svg");
  cursor: pointer;
  outline: transparent;
  transition: all 250ms linear;
}



.graphicBtn:hover,
.graphicBtn:focus {
  box-shadow: 0px 0px 8px rgba(255, 107, 8);
}