.wrapper {
  padding: 20px 0 0;
  /* padding: 20px 30px 0 70px; */
  position: relative;
}

.sprint__tasks-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  /* width: 970px; */
}

/* .sprint__analytic-btn-wrapper {
  transform: translateZ(10px);
  position: relative;
} */
.sprint__analytic-btn {
  width: 44px;
  height: 44px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  background-color: transparent;
  background: #ff6b08;
  background-position: 50% 25%;
  background-image: url("./analytics.svg");
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  bottom: 11%;
  right: 9.3%;
  position: fixed;
  outline: none;
  /* margin: 0 0 0 59vw; */
  /* overflow: hidden; */
}
